a,i{
	margin-right:4px
}

#profile_image{
	margin-right:30px
}

#claws{
	margin-top:-50px
}

#profile_content{
	display:inline-block
}

#menu{
	text-align:right
}

h2, h4{
	margin-top:0px
}

.wrapper{
	margin-top:10px;
	margin-bottom:10px
}

.nome{
	color:#49515A
}

.desc{
	color:#BBBDBF
}

.section, header{
	background-color:#f5f5f5
}

.padding-inner{
	padding:30px
}

.vertical-margin{
	margin-bottom:30px
}

header{
	padding:10px 0;
	border-top:10px solid #BBBDBF;
	border-bottom:10px solid #BBBDBF
}

.padding-inner-mini{
	padding:10px
}

.trabalho{
	margin-bottom:10px;
	border:1px solid #BBBDBF;
	background-color:#F5F5F5
}

.trabalho:hover{
	border-left:4px solid #CE6F2D;
	-webkit-box-shadow:0 0 20px #BBBDBF
}

.orange, .orange:visited, .orange:link, .orange:hover, .orange:active{
	font-weight:bold;
	color:#CE6F2D;
	text-decoration:none
}

.social{
	background:url('../images/social/social-sprite.png') 0 0 no-repeat;
	display:inline-block;
	width:40px;
	height:40px
}

#send_email{
	background-position:0 0
}

#linkedin{
	background-position:0 -40px
}

#curriculum{
	background-position:0 -160px
}

#github{
	background-position:0 -80px
}

#sopt{
	background-position:0 -120px
}

.conhecimentos{
	background:url('../images/logos/LogosSprite.png') 0 0 no-repeat;
	display:inline-block
}

#fluent-nhibernate{
	background-position:-1px -0px;
	width:184px;
	height:60px
}

#nhibernate{
	background-position:-1px -61px;
	width:137px;
	height:60px
}

#sqlite{
	background-position:-1px -122px;
	width:126px;
	height:60px
}

#css{
	background-position:-1px -183px;
	width:102px;
	height:60px
}

#dwoo{
	background-position:-1px -244px;
	width:100px;
	height:34px
}

#mysql{
	background-position:-1px -279px;
	width:100px;
	height:52px
}

#tortoisegit{
	background-position:-1px -332px;
	width:100px;
	height:14px
}

#java{
	background-position:-1px -347px;
	width:98px;
	height:60px
}

#nunit{
	background-position:-1px -408px;
	width:97px;
	height:60px
}

#uml{
	background-position:-99px -408px;
	width:85px;
	height:60px
}

#jquery{
	background-position:-104px -183px;
	width:80px;
	height:60px
}

#sql{
	background-position:-102px -244px;
	width:72px;
	height:60px
}

#phpunit{
	background-position:-102px -305px;
	width:67px;
	height:60px
}

#bootstrap{
	background-position:-1px -469px;
	width:60px;
	height:60px
}

#c{
	background-position:-62px -469px;
	width:60px;
	height:60px
}

#csharp{
	background-position:-123px -469px;
	width:60px;
	height:60px
}

#cakephp{
	background-position:-1px -530px;
	width:60px;
	height:60px
}

#html{
	background-position:-62px -530px;
	width:60px;
	height:60px
}

#js{
	background-position:-123px -530px;
	width:60px;
	height:60px
}

#php{
	background-position:-1px -591px;
	width:60px;
	height:60px
}

#scrum{
	background-position:-128px -122px;
	width:54px;
	height:60px
}

#composer{
	background-position:-62px -591px;
	width:51px;
	height:60px
}

.gray{
	color:#000;
	background-color:#BBBDBF;
	border-color:#BBBDBF
}

.gray:hover, .gray:focus{
	background-color:#BBBDBF;
	border-color:#BBBDBF
}

i::before{
	padding-right:10px
}
.level-stars  i::before{
	padding-right:0px !important
}

textarea{
	width:100%
}

.level-stars{
	display:inline-block
}

.ui-accordion-content{
	background:#f5f5f5 !important
}

.ui-accordion-header{
	background:#BBBDBF !important
}
.gly_medium{
	font-size:14px
}

.view{
   display:inline-block;
   position:relative;
   text-align:center;
   margin-bottom:20px;
   margin-right:20px
}

.view .mask{
	width:300px;
	height:168px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0
}

.view h2{
	font-weight:bold;
	color:#000;
    text-align:center;
    font-size:17px;
    padding:13px;
    background:#BBBDBF;
	margin:20px 0 0 0
}

.info{
	margin-top:30px 
}

.view-first .mask{
   opacity:0;
   background-color:#fff;
   -webkit-transition:all 0.4s ease-in-out
}

.view-first h2{
   -webkit-transform:translateY(-100px);
   -webkit-transition:all 0.2s ease-in-out
}

.view-first p{
   -webkit-transform:translateY(100px);
   -webkit-transition:all 0.2s linear
}

.view-first .info{
   -webkit-transition:all 0.2s ease-in-out
}

.view-first:hover .mask{
   opacity:1
}

.view-first:hover h2 ,.view-first:hover .info{
   -webkit-transform:translateY(0px)
}

.view-first:hover p{
   -webkit-transition-delay:0.1s
}

.view-first:hover a.info{
   -webkit-transition-delay:0.2s
}

@media(max-width:780px){
	header{
		text-align:center
	}
	
	#claws{
		display:none
	}
	
	#menu{
		padding-top:10px;
		text-align:center
	}
	
	#profile_image{
		margin-right:0
	}
}