body{
	color:#fff;
	font-family: 'Lato', arial, sans-serif;
	background-color: #E5E4E4;
}

#profile_image{
	height:200px;
	margin-right:30px;
}

#claws{
	height:200px;
	margin-top:-50px;
}

#profile_content{
	display: inline-block;
}

#menu{
	text-align:right;
}

.wrapper{
	margin-top:10px;
	margin-bottom:10px;
}

#header{
	padding: 10px 0;
	border-top: 10px solid #1BBC9D;
	border-bottom: 10px solid #1BBC9D;
}

#header, #knowledges, #sample_contact, #sample_courses, #languages{
	background-color: #2A2A2A;
}

.knowledge{
	padding-bottom: 15px
}

footer{
	height:40px;
	background:#1BBC9D;
	line-height:40px;
}

.btn-green{
	color:#fff;
	background-color:#1BBC9D
}

.ui-accordion-content{
	background: #2A2A2A !important;
	color:#fff !important;
}

.ui-accordion-header{
	background: #1BBC9D !important;
	color:#fff !important;
}